:root {
    --primary-dark: #505050;
    --primary-grey: #bdbdc9;
    --primary-light: #ffffff;
    --shade-one: #f9fafc;
    --shade-two: #ececea; 
  }
  

.worklogs-container {
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr repeat(3, 1fr) 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .logs-header {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
        background-color: var(--primary-light);
        border-bottom: 2px solid #38879785;
        color: var(--primary-dark);
        margin: 0.6rem 1.3rem;
        .header-title {
            font-size: 34px;
            font-weight: 500;
        }
    }

    .logs-wrapper {
        position: relative;
        grid-area: 2 / 1 / 5 / 2;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--primary-light);
        padding: 1rem 1.3rem;
        .single-log {
            position: relative;
            cursor: pointer;
            display: flex;
            border-radius: 0.4rem;
            background-color: #ffffff;
            color: #292929;
            margin-bottom: 1rem;
            .left-box {
                padding: 0.4rem 0.4rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                background-color: transparent;
                border-radius: 10px 0px 0px 10px;
                min-width: 7rem;
            }

            .player-button {
                display: flex;
            }
            .moment-time {
                font-weight: 600;
              }
            .time {
                font-size: 16px;
            }

            .right-box {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: transparent;
                border-left: 4px solid rgb(255, 187, 0);
                border-radius: 0px 10px 10px 0px;
                margin: 0.4rem;
                padding: 0.6rem;
                z-index: 100;
                .log-content {
                    font-weight: 500;
                    font-size: 0.9rem;
                }
                .below-row {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .right-menu {
                position: absolute;
                //position: relative;
                visibility: hidden;
                right: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 2rem;
                background-color: #1E6270;
                height: 100%;
                border-radius: 0.2rem;
                z-index: 200;
                transform: translateX(15%);
                transition: all 150ms ease-out;
                .dropdown {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateX(-100%);
                    background-color: #ffffff;
                    width: 300px;
                    
                    border: 1px solid rgba(0, 0, 0, 0.04);
                    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                      }
                      li {
                        padding: 8px 12px;
                      }
                      
                      li:hover {
                        background-color: rgba(0, 0, 0, 0.14);
                        cursor: pointer;
                      }
                  }
            }
            .label {
                padding: 0.1rem 0.3rem;
                border-radius: 0.2rem;
                font-weight: 400;
                font-size: 0.7rem;
                margin-right: 0.4rem;
                color: #ffffff;
              
            }
            .log-date {
                display: flex;
                align-items: center;
                align-self: flex-end;
                color: #388797;
                font-size: 0.8rem;
            }
        }
        .single-log-marked {
            background-color: rgb(255, 249, 182);
        }
    }

    .logs-wrapper::-webkit-scrollbar-track {
        border-radius: 50px;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.219);
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.219);
        background-color: #ffffff;
    }

    .logs-wrapper::-webkit-scrollbar {
        width: 6px;
        background-color: #ffffff;
    }

    .logs-wrapper::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background-color: #1E6270;
    }
}





.log-icons {
    font-size: 24px;
    color: #1E6270;
}
.log-icons-more {
    font-size: 0.8rem;
    color: #ffffff;
}

.worklogs-container .logs-wrapper .single-log:hover .right-menu {
    transform: translateX(0%);
    visibility: visible;
}


.worklogs-container .input-container {
    grid-area: 5 / 1 / 6 / 2;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.4rem 1.3rem;
    background-color: #ffffff;
    .the-timer {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-120%) translateX(-5%);
        animation: timerEnter 180ms ease-out;
        display: flex;
        align-items: center;
        padding: 0.7rem 3rem;
        margin-bottom: 0.6rem;
        border-radius: 0.3rem;
        border: 1px solid #9c9c9c;
        background-color: rgb(255, 255, 255);
        .logged-time {
            font-size: 24px;
            font-weight: 600;
        }
        .buttons {
            display: flex;
            align-items: center;
            .time-button {
                display: flex;
                align-items: center;
                background-color: transparent;
                margin: 0rem 0.4rem;
                border: none;
                outline: none;
                background-color: #2dcc70;
                border-radius: 0.2rem;
                color: #ffffff;
                padding: 0.4rem 1rem;
                font-size: 0.7rem;
                .logtime-icon {
                    color: #ffffff;
                    font-size: 0.7rem;
                    margin-right: 0.4rem;
                }
            }
            .stop-button {
                background-color: #e75858;
                color: #ffffff;
                .stop-icon {
                    color: #ffffff;
                }
            }
        }
    }
    .input-elements {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.input-container .textarea {
    border-radius: 1.3rem;
    background-color: #f9fafc;
    border: 1px solid #8d8d8d;
    color: #464646;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0.55rem 1rem;
    margin: 0rem 1rem;
    display: block;
    width: 86%;
    /* overflow: hidden; */
    line-height: 20px;
    resize: none;
}
.textarea[contentEditable]:empty::before {
    content: "What are you doing now ?";
    color: #a9a9a9;
}

@keyframes timerEnter {
    from {
        opacity: 0;
        transform: translateY(-100%) translateX(-5%);
    }
    to {
        opacity: 1;
        transform: translateY(-120%) translateX(-5%);
    }
  }